<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FLATICON ===============-->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />

    <!--=============== SWIPER CSS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!--=============== HEADER ===============-->
      <nav class="nav container">
        <a href="index.html" class="nav__logo">
          <img
            class="nav__logo-img"
            src="../images/logo.svg"
            alt="website logo"
          />
        </a>
        <div class="nav__menu" id="nav-menu">
          <div class="nav__menu-top">
            <a href="index.html" class="nav__menu-logo">
              <img src="../images/logo.svg" alt="" />
            </a>
            <div class="nav__close" id="nav-close">
              <i class="fi fi-rs-cross-small"></i>
            </div>
          </div>
          <ul class="nav__list">
            <li class="nav__item">
              <a href= "/" class="nav__link active-link">Home</a>
            </li>
            <li class="nav__item">
              <a href="/login" class="nav__link">Login</a>
            </li>
            <li class="nav_item">
              <a href="/about" class="nav__link link">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    
    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== HOME ===============-->
      <section class="home section--lg">
        <div class="home__container container grid">
          <div class="home__content">
            <span class="home__subtitle">Hot Promotions</span>
            <h1 class="home__title">
              Fashion Trending <span>Great Collection</span>
            </h1>
            <p class="home__description">
              Save more with coupons & up tp 20% off
            </p>
            <a href="#" class="btn">Shop Now</a>
          </div>
          <img src="../images/home-img.png" class="home__img" alt="hats" />
        </div>
      </section>

  </body>
</html>