<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FLATICON ===============-->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />

    <!--=============== SWIPER CSS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <nav class="nav container">
        <a href="index.html" class="nav__logo">
          <img
            class="nav__logo-img"
            src="../images/logo.svg"
            alt="website logo"
          />
        </a>
        <div class="nav__menu" id="nav-menu">
          <div class="nav__menu-top">
            <a href="index.html" class="nav__menu-logo">
              <img src="../images/logo.svg" alt="" />
            </a>
            <div class="nav__close" id="nav-close">
              <i class="fi fi-rs-cross-small"></i>
            </div>
          </div>
          <ul class="nav__list">
            <li class="nav__item">
              <a href= "/" class="nav__link link">Home</a>
            </li>
            <li class="nav__item">
              <a href="/login" class="nav__link active-link">Login</a>
            </li>
            <li class="nav_item">
              <a href="/about" class="nav__link link">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
<!--=============== LOGIN-REGISTER ===============-->
<section class="login-register section--lg">
    <div class="login-register__container container grid">
      <div class="login">
        <h3 class="section__title">Login</h3>
        <form class="form grid">
          <input
            type="email"
            placeholder="Your Email"
            class="form__input"
          />
          <input
            type="password"
            placeholder="Your Password"
            class="form__input"
          />
          <div class="form__btn">
            <button class="btn">Login</button>
          </div>
        </form>
      </div>
      <div class="register">
        <h3 class="section__title">Create an Account</h3>
        <form class="form grid">
          <input type="text" placeholder="Username" class="form__input" />
          <input
            type="email"
            placeholder="Your Email"
            class="form__input"
          />
          <input
            type="password"
            placeholder="Your Password"
            class="form__input"
          />
          <input
            type="password"
            placeholder="Confirm Password"
            class="form__input"
          />
          <div class="form__btn">
            <button class="btn">Submit & Register</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  </body>
</html>
